<div class="slider">
    {% if include.deck.title != null %}
    <h2>{{ include.deck.title }}</h2>
    {% endif %}

    <p class="slider-nav">
        Slides:
        {% for slide_ref in include.deck.slides -%}
        <a href="#slide-{{forloop.index}}" class="plain">{{forloop.index}}</a>
        {%- endfor %}
    </p>

    <div class="slides">
        {% for slide_ref in include.deck.slides -%}
        {% assign slide = site.slides | where: 'ref', slide_ref | first -%}
        <div id="slide-{{forloop.index}}" class="slide">
            {{ slide.content | markdownify }}
        </div>
        {%- endfor %}
    </div>
</div>
