<div class="slider">
    {% if include.deck.title != null %}
    <h2>{{ include.deck.title }}</h2>
    {% endif %}

    <p class="slider-nav">
        Slides:
        {% for slide_ref in include.deck.slides -%}
        <a href="#slide-{{ include.deck.ref }}-{{ forloop.index }}" class="emphasised button">{{forloop.index}}</a>
        {%- endfor %}
    </p>

    <div class="slides">
        {% for slide_ref in include.deck.slides -%}
        {% assign slide = site.slides | where: 'ref', slide_ref | first -%}
        <div id="slide-{{ include.deck.ref }}-{{ forloop.index }}" class="slide">
            <div class="slide-nav">
                {% if forloop.index > 1 %}
                <a href="#slide-{{ include.deck.ref }}-{{ forloop.index | minus: 1 }}" class="emphasised prev button">&lt;</a>
                {% else %}
                <div></div>
                {% endif %}
                {% if forloop.index < forloop.length %}
                <a href="#slide-{{ include.deck.ref }}-{{ forloop.index | plus: 1 }}" class="emphasised next button">&gt;</a>
                {% else %}
                <div></div>
                {% endif %}
            </div>

            {{ slide.content | markdownify }}

            <div class="slide-nav">
                {% if forloop.index > 1 %}
                <a href="#slide-{{ include.deck.ref }}-{{ forloop.index | minus: 1 }}" class="emphasised prev button">&lt;</a>
                {% else %}
                <div></div>
                {% endif %}
                {% if forloop.index < forloop.length %}
                <a href="#slide-{{ include.deck.ref }}-{{ forloop.index | plus: 1 }}" class="emphasised next button">&gt;</a>
                {% else %}
                <div></div>
                {% endif %}
            </div>
        </div>
        {%- endfor %}
    </div>
</div>
