---
---

@import "{{ site.theme }}";

/* General
-------------------------------------------------- */

img, .markdown-body img {
    background-color: transparent;
}

figure, .markdown-body figure {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
}
figure > h6, .markdown-body figure > h6 {
    margin-top: 0;
}
figcaption, .markdown-body figcaption {
    padding: 3px;
}

aside, .markdown-body aside {
    float: right;
    width: 33%;
    margin-left: 10px;
}

/* Slider
-------------------------------------------------- */

/* Based on: https://css-tricks.com/css-only-carousel/ */

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.5rem;
}

.slider {
    overflow: hidden;
}
.slider-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}
.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.slide {
    scroll-snap-align: start; /* alignment in parent scroll container */
    width: 100%;              /* slide area is width of slider */
    flex-shrink: 0;           /* keep full width in flex container */
    margin-right: 50px;       /* gap between slides */
}

.slide-nav {
    position: relative;
    height: 3rem;
}
.slide-nav > .button {
    position: absolute;
    top: 0;
}
.slide-nav > .prev {
    left: 0;
}
.slide-nav > .next {
    right: 0;
}

/* Callouts
-------------------------------------------------- */

.callout {
    display: flex;
    justify-content: left;
    align-items: start;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.callout img.callout-icon {
    padding-right: 10px;
}

/* Colour Scheme
-------------------------------------------------- */

.plain {
    background-color: #f7f7f7;
    border-color: #f2f2f2;
    color: #8f8f8f;
}
.plain:focus {
    background-color: #f2f2f2;
    border-color: #ededed;
    color: #858585;
}

.emphasised {
    background-color: #ebebeb;
    border-color: #e6e6e6;
    color: #808080;
}
.emphasised:focus {
    background-color: #e6e6e6;
    border-color: #e0e0e0;
    color: #787878;
}

.todo {
    background-color: #dcf7da;
    border-color: #caf2bd;
    color: #378f31;
}
.info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.tip {
    background-color: #f7f7d2;
    border-color: #f2e8b6;
    color: #8f8f2b;
}
.warning {
    background-color: #f7d9d9;
    border-color: #f2bdc6;
    color: #8f3131;
}
