<nav style="display: flex; justify-content: space-between; border-bottom: 1px solid #444444; margin-bottom: 30px">
    <div style="display: flex; justify-content: left">
        <a href="{{site.url}}/wiki/version-control/version-control">Version Control</a>
    </div>
    <div></div>
</nav>

<header>
    <h1>{{page.title}}</h1>
</header>
<main>
    {{content}}
</main>

<footer style="display: flex; justify-content: space-between; border-top: 1px solid #444444; margin-top: 30px">
    <div></div>
    <div>
        <a href="{{site.github.repository_url}}/blob/main/{{page.path}}">Page source</a>
        <a href="{{site.url}}/wiki/assets/attribution">Asset attribution</a>
        <p style="margin: 0">Last generated: {{site.time}}</p>
    </div>
</footer>
