---
layout: default
---

<nav style="display: flex; justify-content: space-between; border-bottom: 1px solid #444444; margin-bottom: 30px">
    <div style="display: flex; justify-content: left">
        <a href="{{site.url}}/wiki/version-control/version-control">Version Control</a>
    </div>
    <div>
        <button type="button" id="theme-selector" class="emphasised">
            <i class="material-symbols-rounded" id="light-theme-symbol">light_mode</i>
            <i class="material-symbols-rounded" id="dark-theme-symbol">dark_mode</i>
            <i class="material-symbols-rounded indicator" id="preferred-theme-symbol">settings</i>
        </button>
    </div>
</nav>

<header>
    <h1>{{page.title}}</h1>
</header>
<main>
    {{content}}
</main>

<footer style="display: flex; justify-content: space-between; border-top: 1px solid #444444; margin-top: 30px; padding-top: 15px">
    <div></div>
    <div>
        <p style="margin: 0"><a href="{{site.github.repository_url}}/blob/main/{{page.path}}">Page source</a></p>
        <p style="margin: 0"><a href="{{site.url}}/assets/attribution">Asset attribution</a></p>
        <p style="margin: 0">Last generated: {{site.time}}</p>
        <p style="margin: 0">
            All text in this wiki is licenced under
            <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="license noopener noreferrer" style="display: inline-block;">
                CC BY-SA 4.0
                <img style="height: 22px!important; margin-left: 3px; vertical-align: text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="">
                <img style="height: 22px!important; margin-left: 3px; vertical-align: text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="">
                <img style="height: 22px!important; margin-left: 3px; vertical-align: text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg" alt="">
            </a>
            except where otherwise stated.
        </p>
    </div>
</footer>

<script>
    // Elements
    const body = document.getElementsByTagName('body')[0];
    const themeSelector = document.getElementById('theme-selector');
    const lightThemeSymbol = document.getElementById('light-theme-symbol');
    const darkThemeSymbol = document.getElementById('dark-theme-symbol');
    const preferredThemeSymbol = document.getElementById('preferred-theme-symbol');

    // Preferred theme
    let preferredTheme = 'light';
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        preferredTheme = 'dark';
    }

    // Available themes + current theme
    const themes = ['preferred', 'light', 'dark'];
    let theme = themes[0];
    function applyTheme() {
        const themeValue = theme == 'preferred' ? preferredTheme : theme;

        body.setAttribute('data-theme', themeValue);

        lightThemeSymbol.classList.remove('theme-active');
        darkThemeSymbol.classList.remove('theme-active');
        preferredThemeSymbol.classList.remove('theme-active');
        if (themeValue == 'light') {
            lightThemeSymbol.classList.add('theme-active');
        }
        if (themeValue == 'dark') {
            darkThemeSymbol.classList.add('theme-active');
        }
        if (theme == 'preferred') {
            preferredThemeSymbol.classList.add('theme-active');
        }
    }
    function setTheme(newTheme) {
        theme = newTheme;
        applyTheme();
    }
    function setNextTheme() {
        const curThemeIndex = themes.indexOf(theme);
        const nextThemeIndex = (curThemeIndex + 1) % themes.length;
        setTheme(themes[nextThemeIndex]);
    }

    // Set theme on preference change
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
        preferredTheme = event.matches ? 'dark' : 'light';
        applyTheme(); // In case the current theme is 'preferred'
    });

    // Set theme on manual toggle
    themeSelector.addEventListener('click', setNextTheme);

    // Apply the theme now
    applyTheme();
</script>
